<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.decobook.model.dao.DiaryDao">

    <!-- 등록 -->
    <insert id="registDiary" parameterType="Diary">
        INSERT INTO diary
        VALUES (#{user_id}, #{diary_id}, now(), #{title}, #{diary_content}, #{img}, #{orgImg}, #{weather}, #{feeling}, #{star_score}, #{latitude}, #{longitude});
    </insert>

    <!-- 수정 -->
    <update id="updateDiary" parameterType="Diary">
        UPDATE diary
        SET title = #{title}, diary_content = #{diary_content}, img = #{img}, orgImg = #{orgImg}
        WHERE diary_id = #{diary_id} AND user_id = #{user_id};
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteDiary" parameterType="int">
        DELETE FROM diary
        WHERE diary_id = #{diary_id};
    </delete>

    <!-- 전체 (리스트) -->
    <select id="selectDiaryAll" resultType="Diary">
        SELECT *
        FROM diary;
    </select>

    <!-- 디테일 -->
    <select id="selectDiaryOne" resultType="Diary" parameterType="int">
        SELECT * FROM diary
        WHERE diary_id = #{diary_id};
    </select>

    <!-- 최근 -->
    <select id="selectDiaryRecent" resultType="Diary" parameterType="int">
        SELECT * FROM diary
        ORDER BY diary_id DESC
        LIMIT 1;
    </select>

    <!-- 날짜별 -->
    <select id="selectDiaryByDate" resultType="Diary" parameterType="String">
        SELECT * FROM diary
        WHERE diary_date = #{diary_date};
    </select>

    <update id="uploadImg" parameterType="Diary">
        UPDATE diary
        SET img = #{img}, orgImg = #{orgImg}
        WHERE diary_id = #{diary_id};
    </update>

</mapper>